<ul>
  <li
    *ngFor="let item of list"
    (click)="selectedItem = item"
    [ngClass]="{ selected: item === selectedItem }"
  >
    <ng-template
      [ngTemplateOutlet]="template"
      [ngTemplateOutletContext]="{
        item: item
      }"
    >
    </ng-template>
  </li>
</ul>

<button (click)="moveAllToList2()">>></button>
<button (click)="moveSelectedToList2()">></button>
<button (click)="moveSelectedToList()"><</button>
<button (click)="moveAllToList()"><<</button>

<ul>
  <li
    *ngFor="let item of list2"
    (click)="selectedItem2 = item"
    [ngClass]="{ selected: item === selectedItem2 }"
  >
    <ng-template
      [ngTemplateOutlet]="template"
      [ngTemplateOutletContext]="{
        item: item
      }"
    >
    </ng-template>
  </li>
</ul>
