<ul>
  <li
    *ngFor="let item of list"
    (click)="selectFromList(item)"
    [ngClass]="{ selected: isSelected(item, selectedItems) }"
  >
    <ng-template
      [ngTemplateOutlet]="template"
      [ngTemplateOutletContext]="{
        item: item
      }"
    >
    </ng-template>
  </li>
</ul>

<input type="button" (click)="moveAllToList2()" value=">>">
<input type="button" (click)="moveSelectedToList2()" value=">">
<input type="button" (click)="moveSelectedToList()" value="<">
<input type="button" (click)="moveAllToList()" value="<<">

<ul>
  <li
    *ngFor="let item of list2"
    (click)="selectFromList2(item)"
    [ngClass]="{ selected: isSelected(item, selectedItems2) }"
  >
    <ng-template
      [ngTemplateOutlet]="template"
      [ngTemplateOutletContext]="{
        item: item
      }"
    >
    </ng-template>
  </li>
</ul>
