<ul>
  <li
    *ngFor="let item of list"
    (click)="selectFromList(item)"
    [ngClass]="{ selected: isSelected(item, selectedItems) }"
  >
    <ng-template
      [ngTemplateOutlet]="template"
      [ngTemplateOutletContext]="{
        item: item
      }"
    >
    </ng-template>
  </li>
</ul>

<button (click)="moveAllToList2()">>></button>
<button (click)="moveSelectedToList2()">></button>
<button (click)="moveSelectedToList()"><</button>
<button (click)="moveAllToList()"><<</button>

<ul>
  <li
    *ngFor="let item of list2"
    (click)="selectFromList2(item)"
    [ngClass]="{ selected: isSelected(item, selectedItems2) }"
  >
    <ng-template
      [ngTemplateOutlet]="template"
      [ngTemplateOutletContext]="{
        item: item
      }"
    >
    </ng-template>
  </li>
</ul>
